html,body {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
}
.el-input__inner:focus{
    border:1px solid #7DBFBB!important;
}
.el-textarea__inner:focus {
    border-color: #7DBFBB!important;
}
.el-pagination .number.active{
    background-color: #7DBFBC!important;
    color: #fff!important;
}
